<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books</title>
  </head>
  <body>
    <table>
      <tr>
        <td>Title</td>
        <td>Authors</td>
        <td>Add</td>
      </tr>
      @foreach(var pair in Model)
      {
        <tr>
          <td><h4><a href='/books/@pair.Value.GetId()'>@pair.Value.GetTitle()</a></h4></td>
          <td>
            @foreach(var author in @pair.Value.GetAuthors())
            {
              @author.GetAuthorName()<br>
            }
          </td>
          <td><form action="/books/@pair.Value.GetId()/addcopy" method="post">
            <button type="submit" name="button">Add a Copy of this Book</button>
          </form></td>
          <td><form action="/books/@pair.Key" method="post">
            <button type="submit" name="button">Delete</button>
            <input type="hidden" name="_method" value="DELETE">
          </form></td>
        </tr>
      }

    </table>

    <form class="form-group" action="/books" method="post">
      <label for="book-title">Enter Book's Title:</label>
      <input type="text" name="book-title" required>
      <label for="book-author">Enter Book's Author:</label>
      <input type="text" name="book-author">
      <label for="book-genre">Select a genre:</label>
      <select name="book-genre">
        <option value="1">Fiction</option>
        <option value="2">Non-Fiction</option>
      </select>
      <button class="btn" type="submit" name="button">Submit</button>
    </form>
    <a href="/">Return Home</a> |
    <a href="/patrons">Patrons</a>
  </body>
</html>
